@tailwind base;
@tailwind components;
@tailwind utilities;

.order-tab > .active {
    @apply bg-blue-500 text-white hover:text-white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
